rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /invoices/{invoiceId} {
      allow create: if isSignedIn() &&
          request.resource.data.ownerId == request.auth.uid;
      allow read, delete: if isOwner(resource.data.ownerId);
      allow update: if isOwner(resource.data.ownerId) &&
          request.resource.data.ownerId == resource.data.ownerId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);

      match /clients/{clientId} {
        allow read, write: if isOwner(userId);
      }

      match /customerGroups/{groupId} {
        allow read, write: if isOwner(userId);
      }
    }
  }
}
